*{
	font-family: 'Ubuntu','Roboto';
}

#myleft{
	position: relative;
	margin-bottom: 0;
	height: auto;
	float:left;
/*	width: 25%; */
	background: #3f51b5;
	border-right: 5px dashed white;
}

#myright{
	position: relative;
	float:center;
	background: white;
/*	width: 70%; 
	margin: 1em 0.5em 1em 1em; */
	border: 1px light gray;
}

#myleft div img:first-child{
	position: relative;
	width:70%;
	margin-left: 10%;
	float: center;
/*	border: 4px solid blue; */
}

#myright div{
	position: relative;
	margin-top: 5%;
	padding: 1em 0em 1em 0em;
	background-color: white;

}

#myright div:hover{
	position: relative;
	padding: 10px 10px;
	box-shadow: 2px 2px white;

}

#myright img{
height: 200px;
}

footer{	
position: fixed;
margin-bottom: 0px;
bottom: 0px;
width: 100%;
z-index: 1;
}

.page-footer{
position: relative;
background: teal;	
}

#contact{
	position: relative;
	float: center;
	margin: 2em 5em 5em 10em;
}
#contact form{
	position: relative;
	background: white;
	margin:2em 2em 2em 2em;
	float: center;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../icons/myfont.woff2) format('woff2'),
        url(../icons/myfont.woff) format('woff'),
        url(../icons/myfont.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
